@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 153, 250, 193;
    --color-primary-opacity: 153, 250, 193, 0.726; 
    --color-opacity: 178, 253, 209;
    --color-secondary: 93, 155, 88;
    --color-vertfonce: 34, 84, 48;
    --text-primary: 0, 0, 0;
    --grey: 122, 122, 122;
    --white: 255, 255, 255;
  }
}

